body{
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 70%;
    margin: 20px auto;
    border: 1px solid #C8C8C8;
    background-color: #F1F1F1;
    padding:15px;
}
h1{
    font-size: 20px;
}